

.wrapper {
	
	
	height: 200px;
	/*width: calc(100% / 3 - 10px);*/
	display: grid ;
	grid-template-columns: auto auto auto;

	grid-gap: 15px;



}


body{

	margin: 0;
	color: white;

}



.red{
	
	background-color: red;
	 
  	






}
.green{
	background-color: green;
	
	
	

}

.blue{
	background-color: blue;

	

	

}
img{
	max-width: 100%;
	max-height: 200px;
}